@model PhpaAll.Bills.BillHomeIndexViewModel
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    A bill is an invoice sent by a contractor to PHPA. Approving authority authorizes its payment and then a voucher can be created for it.
</p>

<ul>
    @for (var i = 0; i < Model.Stations.Count; ++i)
    {
        <li>
            @Html.DisplayFor(m => m.Stations[i].StationName) &bull;
            @Html.DisplayFor(m => m.Stations[i].FundsAvailable)
            <ul>
                @for (var j = 0; j < Model.Stations[i].Amounts.Count; ++j)
                {
                    <li>
                        @Html.DisplayFor(m => m.Stations[i].Amounts[j].DueInMonth) &bull;
                        @Html.DisplayFor(m => m.Stations[i].Amounts[j].Amount)
                    </li>
                }
            </ul>

        </li>
    }
</ul>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Station
            </th>
            <th>
                Funds Available
            </th>
            <th>
                January
            </th>
            <th>
                Feburary
            </th>
            <th>
                March
            </th>
            <th>
                April
            </th>
            <th>
                May
            </th>
            <th>
                June
            </th>
            <th>
                July
            </th>
            <th>
                August
            </th>
            <th>
                September
            </th>
            <th>
                October
            </th>
            <th>
                November
            </th>
            <th>
                December
            </th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Stations.Count; ++i)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => m.Stations[i].StationName)
                </td>
                <td>
                    @Html.DisplayFor(m => m.Stations[i].FundsAvailable)
                </td>
                @for (var j = 0; j < Model.Stations[i].Amounts.Count; ++j)
                {
                    <td style="text-align:right">
                        @*@Html.DisplayFor(m => m.Stations[i].Amounts[j].DueInMonth) &bull;*@
                        @Html.DisplayFor(m => m.Stations[i].Amounts[j].Amount)
                    </td>
                }
            </tr>
        }



    </tbody>
</table>

<div class="row">
    <div class="col-md-4">
        <div class="well">
            <h2>Data Entry</h2>
            <ul class="list-group">
                <li class="list-group-item"><a href="@Url.Action(MVC.ManageBills.Create())">Create new Bill</a></li>
                <li class="list-group-item"><a href="@Url.Action(MVC.Bills.RecentBills())">Recently Entered</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h2>Manage</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="@Url.Action(MVC.Bills.RecentBills().AddRouteValues(new RouteValueDictionary
                        {
                            {MVC.Bills.RecentBillsParams.approved, false},
                            {MVC.Bills.RecentBillsParams.paid, false}
                        }))">Approve for Payment</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h2>Plan and Analyze</h2>
            <ul class="list-group">
                <li class="list-group-item"><a href="@Url.Action(MVC.Bills.OutstandingBills())">Outstanding and Overdue Bills</a></li>
                <li class="list-group-item"><a href="#">Fund Requirements</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <h4>Station wise Outstandings</h4>
            <div class="col-md-8">
                Wangdue<br />
                Thimpu<br />
                Phuntsholing
            </div>
            <div class="col-md-4">
                5,000,000<br />
                5,000,000<br />
                5,000,000
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <h4>Division wise Outstandings</h4>
            <div class="col-md-8">
                MC1 (DAM)<br />
                MC2 (HRT & Adit)<br />
                MC3 (PH Complex)
            </div>
            <div class="col-md-4">
                <ul>
                    <li>5,000,000</li>
                    <li>5,000,000</li>
                    <li>5,000,000</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h4>Contracotr wise Outstandings</h4>
        <div class="col-md-8">
            MC1 (DAM)<br />
            MC2 (HRT & Adit)<br />
            MC3 (PH Complex)
        </div>
        <div class="col-md-4">
            <ul>
                <li>5,000,000</li>
                <li>5,000,000</li>
                <li>5,000,000</li>
            </ul>
        </div>
    </div>
</div>

<pre>
Main features of the Bill Management module include:
•	Top management will be able to see outstanding bills by contractor, division, station or any combination thereof.
•	Estimate future fund requirements based on the entered bills. This will improve cash flow planning.
•	Scanned image of the bill will be captured for future reference.
•	Authorized managers will have the capability to approve, reject or delay payment of the bill.
•	Full audit trail of the approval process will be visible.
•	Capability to search for any bill based on multiple criteria.
•	Capability to enter future bills. This will help in planning future expenses.
•	Will help in ensuring that bills are paid by their due date.
•	Capability to view overdue bills
</pre>