@model PhpaAll.Bills.BillHomeIndexViewModel
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    A bill is an invoice sent by a contractor to PHPA. Approving authority authorizes its payment and then a voucher can be created for it.
</p>


<div class="row">
    <div class="col-md-4">
        <div class="well">
            <h2>Data Entry</h2>
            <ul class="list-group">
                <li class="list-group-item"><a href="@Url.Action(MVC.ManageBills.Create())">Create new Bill</a></li>
                <li class="list-group-item"><a href="@Url.Action(MVC.Bills.RecentBills())">Recently Entered</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h2>Manage</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="@Url.Action(MVC.Bills.RecentBills().AddRouteValues(new RouteValueDictionary
                        {
                            {MVC.Bills.RecentBillsParams.approved, false},
                            {MVC.Bills.RecentBillsParams.paid, false}
                        }))">Approve for Payment</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h2>Plan and Analyze</h2>
            <ul class="list-group">
                <li class="list-group-item"><a href="@Url.Action(MVC.Bills.OutstandingBills())">Outstanding and Overdue Bills</a></li>
                <li class="list-group-item"><a href="#">Fund Requirements</a></li>
            </ul>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped table-condensed">
    <caption>Fund Requirements by Station for <em>Approved Unpaid</em> Bills Aged by Payment Due Date</caption>
    <thead>
        <tr>
            <th rowspan="2" style="text-align:center;vertical-align:middle">
                Station
            </th>
            <th style="text-align:center;vertical-align:middle" rowspan="2">
                Funds Available (Nu.)
            </th>
            <th style="text-align:center" colspan="@Model.AllMonths.Count">
                Fund Requirement (Nu.)
            </th>
        <tr>
            @for (var i = 0; i < Model.AllMonths.Count; ++i)
            {
                <th style="white-space:nowrap; text-align:right">
                    @Html.DisplayFor(m => m.AllMonths[i].DisplayName)
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Stations.Count; ++i)
        {
            <tr>
                <td style="font-weight:bold">
                    <a href="@Url.Action(MVC.Bills.RecentBills().AddRouteValues(new RouteValueDictionary
                        {
                            {MVC.Bills.RecentBillsParams.paid, false},
                            {MVC.Bills.RecentBillsParams.approved, true},
                            {MVC.Bills.RecentBillsParams.stations, Model.Stations[i].StationId}
                        }))">
                        @Html.DisplayFor(m => m.Stations[i].StationName)
                    </a>
                       
</td>
                <td style="text-align:right" class="info">
                    @Html.DisplayFor(m => m.Stations[i].FundsAvailable)
                </td>
                @for (var j = 0; j < Model.AllMonths.Count; ++j)
                {
                    <td style="text-align:right">
                        @if (Model.Stations[i].AmountsByMonth.ContainsKey(Model.AllMonths[j].MonthKey))
                        {
                            if (Model.AllMonths[j].MonthStartDate == null && Model.AllMonths[j].MonthEndDate == null)
                            {
                                <a href="@Url.Action(MVC.Bills.RecentBills().AddRouteValues(new RouteValueDictionary
                        {
                            {MVC.Bills.RecentBillsParams.dueDateNull, true},
                            {MVC.Bills.RecentBillsParams.paid, false},
                            {MVC.Bills.RecentBillsParams.approved, true},                            
                            {MVC.Bills.RecentBillsParams.stations, Model.Stations[i].StationId}
                        }))">
                                    @string.Format("{0:C0}", Model.Stations[i].AmountsByMonth[Model.AllMonths[j].MonthKey])
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action(MVC.Bills.RecentBills().AddRouteValues(new RouteValueDictionary
                        {
                            {MVC.Bills.RecentBillsParams.dueDateFrom, string.Format("{0:d}", Model.AllMonths[j].MonthStartDate)},
                            {MVC.Bills.RecentBillsParams.dueDateTo, string.Format("{0:d}", Model.AllMonths[j].MonthEndDate)},
                            {MVC.Bills.RecentBillsParams.paid, false},
                            {MVC.Bills.RecentBillsParams.approved, true},                            
                            {MVC.Bills.RecentBillsParams.stations, Model.Stations[i].StationId}
                        }))">
                                    @string.Format("{0:C0}", Model.Stations[i].AmountsByMonth[Model.AllMonths[j].MonthKey])
                                </a>
                            }
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@*<pre>
    Main features of the Bill Management module include:
    •	Top management will be able to see outstanding bills by contractor, division, station or any combination thereof.
    •	Estimate future fund requirements based on the entered bills. This will improve cash flow planning.
    •	Scanned image of the bill will be captured for future reference.
    •	Authorized managers will have the capability to approve, reject or delay payment of the bill.
    •	Full audit trail of the approval process will be visible.
    •	Capability to search for any bill based on multiple criteria.
    •	Capability to enter future bills. This will help in planning future expenses.
    •	Will help in ensuring that bills are paid by their due date.
    •	Capability to view overdue bills
    </pre>*@