@*The approve and unapprove buttons have the approve class. Their values are true and false respectively *@

@model PhpaAll.Bills.BillModel
<div class="row">
    <div class="col-md-3">
        <div style="-ms-text-overflow: ellipsis; -o-text-overflow:ellipsis; text-overflow:ellipsis; white-space:nowrap; overflow:hidden">
            @if (!string.IsNullOrWhiteSpace(Model.CheckBoxName))
            {
                <input type="checkbox" name="@Model.CheckBoxName" value="@Model.BillId" />
            }
            @Html.DisplayFor(m => m.BillDate)
            @if (Model.DueDate < DateTime.Today)
            {
                <em class="label label-danger" style="white-space:nowrap"><small>Due @Html.DisplayFor(m => m.DueDate)</small></em>
            }
            else
            {
                <em style="white-space:nowrap"><small>Due @Html.DisplayFor(m => m.DueDate)</small></em>
            }
            <br />
            <small title="@Html.DisplayFor(m => m.BillNumber)">@Html.DisplayFor(m => m.BillNumber)</small>
        </div>

    </div>
    <div class="col-md-4">
        <div style="-ms-text-overflow: ellipsis; -o-text-overflow:ellipsis; text-overflow:ellipsis; white-space:nowrap; overflow:hidden">
            <div title="@Html.DisplayFor(m => m.DivisionName) at @Html.DisplayFor(m => m.StationName) ">
                @Html.DisplayFor(m => m.DivisionName)
                @@
                @Html.DisplayFor(m => m.StationName)
            </div>
            <div title="@Model.ContractorName">@Html.DisplayFor(m => m.ContractorName)</div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="pull-right">
            <strong>@Html.DisplayFor(m => m.Amount)</strong>
        </div>
        <div style="-ms-text-overflow: ellipsis; -o-text-overflow:ellipsis; text-overflow:ellipsis; white-space:nowrap; overflow:hidden">
            <div>
                &rarr;  @Html.DisplayFor(m => m.CurrentDivisionName)
            </div>


        </div>
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                <a href="@Url.Action(MVC.ManageBills.ShowBill(Model.BillId))" class="btn btn-link"><span class="glyphicon glyphicon-zoom-in"></span> View</a>
                <a href="@Url.Action(MVC.ManageBills.Edit(Model.BillId))" class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
            </div>
            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                @if (Model.ApprovedDate == null)
                {
                    <button type="button" class="btn btn-default btn-xs approve" value="true"><span class="glyphicon glyphicon-thumbs-up"></span> <span>Approve</span></button>
                }
                else
                {
                    <button class="btn btn-success  btn-xs disabled">
                        <span class="glyphicon glyphicon-thumbs-up"></span> @Html.DisplayFor(m => m.ApprovedDate) by @Html.DisplayFor(m => m.ApprovedBy)
                    </button>
                }
            </div>
        </div>
    </div>
</div>
<div class="text-muted">
    @Html.DisplayFor(m => m.Particulars)
</div>

