@{
    var phpaController = this.ViewContext.Controller as PhpaAll.Controllers.PhpaBaseController;
    IEnumerable<string> statusMessages = null;
    if (phpaController != null)
    {
        statusMessages = phpaController.StatusMessages;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="@Links.Views.Shared.layout_css" type="text/css" rel="stylesheet" />
    @*<script type="text/javascript" src="@Links.Scripts.modernizr_2_8_3_js"></script>*@

    <meta name="description" content="Phpa Bills Module" />
</head>
<body>
    <div class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-layout-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="logo" class="navbar-brand" href="@Url.Content("~")" style="padding:0">
                    <img class="" src="@Url.Content(System.Configuration.ConfigurationManager.AppSettings["logo"])" height="100" width="100" />
                </a>
            </div>
            <div class="navbar-collapse collapse" id="bs-layout-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <div class="btn-group navbar-btn btn-group-sm">
                            <a class="btn btn-default" href="@Url.Action(MVC.BillsHome.Index())">Bills</a>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                @foreach (SiteMapNode node in SiteMap.RootNode.ChildNodes)
                                {
                                    <li><a href="@Url.Content(node.Url)">@node.Title</a></li>
                                }
                            </ul>

                        </div>
                    </li>
                    <li>
                        <form id="frmLayoutSearch" action="@Url.Action(MVC.BillsHome.Search())" method="get" role="search" class="navbar-form navbar-left">
                            <div class="input-group input-group-sm">
                                <input id="tbLayoutSearch" type="search" class="form-control" name="@MVC.BillsHome.SearchParams.searchText" size="32"
                                       placeholder="Search Bills by amount or keyword" autocomplete="off"
                                       data-list-url="@Url.Action(MVC.BillsHome.SearchAutoComplete("~"))"
                                       data-bill-url="@Url.Action(MVC.ManageBills.ShowBill(0))">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                            </div><!-- /input-group -->
                        </form>
                    </li>
                    <li>
                        <div class="navbar-text"
                             style="max-width: 40em; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow:ellipsis; text-overflow:ellipsis; white-space:nowrap">
                            <span class="h3">
                                @System.Configuration.ConfigurationManager.AppSettings["title"]
                            </span>
                        </div>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (this.ViewContext.HttpContext.User.Identity.IsAuthenticated)
                    {
                        <li><a href="@Url.Content("~/Admin/ChangePassword.aspx")">Welcome @ViewContext.HttpContext.User.Identity.Name</a></li>
                        <li><a href="@Url.Action(MVC.BillsHome.Logoff())">Logout</a></li>
                    }
                    else
                    {
                        <li><a href="@string.Format("{0}?returnUrl={1}", FormsAuthentication.LoginUrl, Url.Encode(Url.Action(MVC.BillsHome.Index())))">Login</a></li>
                    }
                </ul>
            </div>

        </div>
    </div>
    <div class="container">
        @if (statusMessages != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <ul class="list-unstyled">
                    @foreach (var msg in statusMessages)
                    {
                        <li>@msg</li>
                    }
                </ul>
            </div>

        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Eclipse Systems Pvt. Ltd.</p>
        </footer>
    </div>

    <script type="text/javascript" src="@Links.Views.Shared.layout_js"></script>

    @RenderSection("scripts", required: false)
</body>







</html>
