@model PhpaAll.Bills.BillViewModel

@{
    ViewBag.Title = "View Bill";
}


<h2 style="margin-top:0" class="text-center">
    @Html.DisplayFor(m => m.ContractorName)
</h2>
<hr />

<div class="row">
    <div class="col-md-8 well well-sm">

        <div class="row">
            <div class="col-md-8">
                <strong>No: @Html.DisplayFor(m => m.BillNumber)</strong>
            </div>
            <div class="col-md-4">
                <strong class="pull-right">Dated: @Html.DisplayFor(m => m.BillDate)</strong>
            </div>
        </div>
        <br />
        <br />
        <div>
            <label>Particulars:</label>   @Html.DisplayFor(m => m.Particulars)
        </div>
        <br />


        <div class="row">
            <div class="col-md-3">
                <label>Received on</label>
                @Html.DisplayFor(m => m.SubmittedOnDate)
            </div>
            <div class="col-md-3">
                <label for="dueDate">Payment Due Date</label>
                @Html.DisplayFor(m => m.DueDate)
            </div>
            <div class="col-md-3">
                <label>Amount</label>
                @Html.DisplayFor(m => m.Amount)

                <label>Paid on</label>
                @Html.DisplayFor(m => m.PaidDate)

            </div>

        </div>
        <div>
            <label for="remarks">Remarks</label>

            @Html.DisplayFor(m => m.Remarks)
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-md-3 col-md-offset-9">
                <label>Division</label>
                @Html.DisplayFor(m => m.SubmittedToDivisionName)
                @@Station @Html.DisplayFor(m => m.StationName)
                <br />

                <label>Approved By</label>  @Html.DisplayFor(m => m.ApprovedBy)
                <label>Approved Date</label>
                @Html.DisplayFor(m => m.ApprovedDate)


            </div>

        </div>
        <br />

     
      
    </div>
    <div class="col-md-4">

        <img src="~/Images/Its demoimageDeleteit.jpg" width="300" height="380"/>
        @Html.DisplayFor(m => m.BillImage)
    </div>
</div>


<h2 style="margin-top:0">

    <a href="@Url.Action(MVC.ManageBills.Edit(Model.Id))" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-edit"></span>
        Edit
    </a>
    <a href="@Url.Action(MVC.Bills.RecentBills())" class="btn btn-default btn-sm">
        Recent Bills
    </a>
</h2>


<h2 style="margin-top:0">
    Audit
</h2>

<ul class="list-group">
    @for (var i = 0; i < Model.BillHistory.Count; ++i)
    {
        <li class="list-group-item">
            @Html.DisplayFor(m => m.BillHistory[i].DateCreated)
            @Html.DisplayFor(m => m.BillHistory[i].BillNumberOld)
            @Html.DisplayFor(m => m.BillHistory[i].BillNumberNew)
            @Html.DisplayFor(m => m.BillHistory[i].BillCreatedBy)
            @Html.DisplayFor(m => m.BillHistory[i].AmountNew)
            @Html.DisplayFor(m => m.BillHistory[i].AmountOld)
            @Html.DisplayFor(m => m.BillHistory[i].ApprovedByNew)
            @Html.DisplayFor(m => m.BillHistory[i].ApprovedByOld)
            @Html.DisplayFor(m => m.BillHistory[i].BillDateNew)
            @Html.DisplayFor(m => m.BillHistory[i].BillDateOld)
            @Html.DisplayFor(m => m.BillHistory[i].ContractorNameNew)
            @Html.DisplayFor(m => m.BillHistory[i].ContractorNameOld)
            @Html.DisplayFor(m => m.BillHistory[i].DueDateNew)
            @Html.DisplayFor(m => m.BillHistory[i].DueDateOld)
            @Html.DisplayFor(m => m.BillHistory[i].PaidDateNew)
            @Html.DisplayFor(m => m.BillHistory[i].PaidDateOld)
            @Html.DisplayFor(m => m.BillHistory[i].ParticularsNew)
            @Html.DisplayFor(m => m.BillHistory[i].ParticularsOld)
            @Html.DisplayFor(m => m.BillHistory[i].RemarksNew)
            @Html.DisplayFor(m => m.BillHistory[i].RemarksOld)
            @Html.DisplayFor(m => m.BillHistory[i].StationIdNew)
            @Html.DisplayFor(m => m.BillHistory[i].StationIdOld)
            @Html.DisplayFor(m => m.BillHistory[i].SubmittedOnDateNew)
            @Html.DisplayFor(m => m.BillHistory[i].SubmittedOnDateOld)
            @Html.DisplayFor(m => m.BillHistory[i].SubmittedToDivisionNameNew)
            @Html.DisplayFor(m => m.BillHistory[i].SubmittedToDivisionNameOld)
        </li>
    }
</ul>

