@model PhpaAll.Bills.BillViewModel

@{
    ViewBag.Title = "View Bill";
}


<div style="margin-top:0" class="text-center h2">
    @Html.DisplayFor(m => m.ContractorName)
    @if (Model.ApprovedDate != null)
    {

        <label class="label label-success">
            Approved on
            @Html.DisplayFor(m => m.ApprovedDate)
            <em>by  @Html.DisplayFor(m => m.ApprovedBy) </em>
        </label>

    }
    &nbsp;
    <div class="btn-group-vertical btn-group-xs" role="group" aria-label="...">
        <button type="button" class="btn btn-success">
            <spn class="glyphicon glyphicon-thumbs-up"></spn> Approve
        </button>
        <button type="button" class="btn btn-danger">
            <spn class="glyphicon glyphicon-thumbs-down"></spn> Unapprove
        </button>
    </div>
</div>
<div class="bg-info">
    <a href="@Url.Action(MVC.ManageBills.Edit(Model.Id))" class="btn btn-link">
        Edit
    </a>
    |
    <a href="~/Finance/InsertVoucher.aspx" class="btn btn-link">
        Create Voucher
    </a>
    |
    <a href="@Url.Action(MVC.Bills.RecentBills())" class="btn btn-link">
        Recent Bills
    </a>
</div>
<div class="well">
    <div class="row">
        <div class="col-md-8">
            <strong><mark>No: @Html.DisplayFor(m => m.BillNumber)</mark></strong>
            &nbsp;
            <span class="label label-info">
                Processing Division:
                @Html.DisplayFor(m => m.CurrentDivision)
            </span>
        </div>
        <div class="col-md-4" style="text-align:right">
            <strong class="pull-right1">Dated: @Html.DisplayFor(m => m.BillDate)</strong>
            @if (Model.DueDate < DateTime.Now)
            {
            <em class="label label-danger" style="white-space:nowrap"><small>Due @Html.DisplayFor(m => m.DueDate)</small></em><br />
            }
            else
            {
            <em style="white-space:nowrap"><small>Due @Html.DisplayFor(m => m.DueDate)</small></em><br />
            }
        </div>
    </div>
    <small class="text-info">
        <strong>Particulars:</strong> @Html.DisplayFor(m => m.Particulars)
    </small>
    <blockquote class="blockquote-reverse">
        <p>
            <strong>Amount(Nu.) @Html.DisplayFor(m => m.Amount)</strong>

            @if (Model.PaidDate != null)
            {
            <span>
                paid on @Html.DisplayFor(m => m.PaidDate)
            </span>
            }

            <small>
                <label>Received at division</label>
                @Html.DisplayFor(m => m.SubmittedToDivisionName)
                <em>on @Html.DisplayFor(m => m.SubmittedOnDate)</em>
                <strong>@@Station</strong>
                @Html.DisplayFor(m => m.StationName)

            </small>
        </p>
    </blockquote>
    <em class="text-muted">
        <small>
            <label>Remarks:</label>
            @Html.DisplayFor(m => m.Remarks)
        </small>
    </em>

</div>





@if (Model.AttachedImageCount < 10)
{
    <em>        
        <small>Note: @Model.AttachedImageCount images have been uploaded</small>      
    </em>
    <form action="@Url.Action(MVC.ManageBills.UploadImage())"
          class="dropzone"
          id="my-dropzone">
        <input type="hidden" name="@MVC.ManageBills.UploadImageParams.billId" value="@Model.Id" />
        <div class="fallback">
            <input name="@MVC.ManageBills.UploadImageParams.file" type="file" multiple />
        </div>
    </form>
}
else
{
    <p class="alert alert-info">Max 10 files allowed. Remove some images to add more.</p>
}

<br />
@if (Model.AttachedImageCount > 0)
{
    <nav class="text-center">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous" data-target="#carousel-attachment" data-slide-to="0">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (var i = 0; i < Model.AttachedImageCount; ++i)
            {
                <li><a href="#" data-target="#carousel-attachment" data-slide-to="@i">@(i + 1)</a></li>
            }
            <li>
                <a href="#" aria-label="Next" data-target="#carousel-attachment" data-slide-to="@(Model.AttachedImageCount - 1)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>

    </nav>
}
<div id="carousel-attachment" class="carousel slide" data-ride="carousel" data-interval="false">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @for (var i = 0; i < Model.AttachedImageCount; ++i)
        {
            <div class="item @(i == 0 ? "active" : "")" style="border: 5px solid #4196c7">
                @if (i == 0)
                {
                    <img src="@Url.Action(MVC.ManageBills.Image(Model.Id, i))" alt="..." />
                }
                else
                {
                    <img data-src="@Url.Action(MVC.ManageBills.Image(Model.Id, i))" alt="..." />
                }

                <div class="carousel-caption">
                    <h3 class="text-danger">
                        Image @(i + 1)
                    </h3>
                    <form method="post" action="@Url.Action(MVC.ManageBills.DeleteImageofBill(Model.Id, i))">
                        <button class="btn btn-danger btn-xs">Delete me</button>
                    </form>

                </div>
            </div>
        }
    </div>
    @if (Model.AttachedImageCount > 0)
    {
    <!-- Controls -->
        <a class="left carousel-control" href="#carousel-attachment" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-attachment" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    }
</div>

<h2>
    Audit
</h2>
<ul class="list-group">
    <li class="list-group-item list-group-item-success">
        <div class="row">
            <div class="col-md-2">
                <strong>Date</strong>
            </div>
            <div class="col-md-8">
                <strong>Change log</strong>
            </div>
        </div>
    </li>
    @for (var i = 0; i < Model.BillHistory.Count; ++i)
    {

        <li class="list-group-item">
            <div class="row">
                <div class="col-md-2">
                    @Html.DisplayFor(m => m.BillHistory[i].DateCreated) by
                    @Html.DisplayFor(m => m.BillHistory[i].CreatedBy)
                </div>
                <div class="col-md-8">
                    <dl class="dl-horizontal">
                        @for (var j = 0; j < Model.BillHistory[i].FieldChanges.Count; ++j)
                        {

                            <dt>
                                @Html.DisplayFor(m => m.BillHistory[i].FieldChanges[j].FieldName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(m => m.BillHistory[i].FieldChanges[j].OldValue)
                                &rarr;
                                @Html.DisplayFor(m => m.BillHistory[i].FieldChanges[j].NewValue)
                            </dd>

                        }
                    </dl>
                </div>
            </div>
        </li>
    }
</ul>



@section scripts {
    <style type="text/css">
        /*Styleing form thead crousel indicator aside cite was not visible over thead white background*/
        .carousel-control span.glyphicon {
            border-color: #4196c7;
            color: #0b4e75;
        }

        /*Styling form the crousel upload dragable area*/
        #my-dropzone {
            border: 5px dashed #4196c7;
            background-color: rgba(241, 236, 212, 0.48);
        }
    </style>


    <link rel="stylesheet" href="@Links.Views.ManageBills.Bill_css" />
    <script type="text/javascript" src="@Links.Views.ManageBills.Bill_js"></script>

    <script type="text/javascript">
        // Removing file from server http://stackoverflow.com/questions/17452662/dropzone-js-how-to-delete-files-from-server
        $(document).ready(function () {
            "use strict";
            Dropzone.options.myDropzone = {
                init: function () {

                    this.on("success", function (file, response) {
                        // response must contain the user of the file which can be used for deleting it
                        $('a.dz-remove', file.previewTemplate).attr('data-dz-remove', response.DeleteUrl);
                    });
                    this.on("removedfile", function (file) {
                        var url = $('a.dz-remove', file.previewTemplate).attr('data-dz-remove');
                        //$('a.dz-remove', file.previewTemplate).attr('data-dz-errormessage', 'Something went wrong');
                        //alert(url);
                        //TODO: How to handle post error. We do not want the file to get removed from dropzone UI.
                        $.post(url);
                    });
                },
                dictDefaultMessage: 'Drag or click to upload images (Max: 10 Images)',
                addRemoveLinks: true,
                // Files of all other types will be rejected
                acceptedFiles: "image/*",
                maxFilesize: 5,  // MB
                maxFiles: 10            // Max 10 files
            };

            // Set the src attribute of image so that it now gets loaded
            // Then remove the data-src attribute so that the image does not get loaded again
            $('#carousel-attachment').on('slide.bs.carousel', function (arg) {
                var $img = $('img[data-src]', arg.relatedTarget);
                $img.attr('src', $img.attr('data-src')).removeAttr('data-src');
            })
        });
    </script>
}
