@model PhpaAll.Bills.BillViewModel

@{
    ViewBag.Title = "View Bill";
}


<h2 style="margin-top:0" class="text-center">
    @Html.DisplayFor(m => m.ContractorName)
    @if (Model.ApprovedDate != null)
    {

        <label class="label label-success">
            Approved on
            @Html.DisplayFor(m => m.ApprovedDate)
            <em>by  @Html.DisplayFor(m => m.ApprovedBy) </em>
        </label>

    }

    &nbsp;
    <a href="@Url.Action(MVC.ManageBills.Edit(Model.Id))" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-edit"></span>
        Edit
    </a>
    <a href="@Url.Action(MVC.Bills.RecentBills())" class="btn btn-default btn-sm">
        Recent Bills
    </a>
</h2>
<hr />

<div class="row">
    <div class="col-md-8 well well-sm">
        <div class="row">
            <div class="col-md-8">
                <strong>No: @Html.DisplayFor(m => m.BillNumber)</strong>
            </div>
            <div class="col-md-4" style="text-align:right">
                <strong class="pull-right1">Dated: @Html.DisplayFor(m => m.BillDate)</strong>
                @if (Model.DueDate < DateTime.Now)
                {
                    <em class="label label-danger" style="white-space:nowrap"><small>Due @Html.DisplayFor(m => m.DueDate)</small></em><br />
                }
                else
                {
                    <em style="white-space:nowrap"><small>Due @Html.DisplayFor(m => m.DueDate)</small></em><br />
                }
            </div>
        </div>
        <br />
        <small class="text-info">
            <strong>Particulars:</strong> @Html.DisplayFor(m => m.Particulars)
        </small>
        <br />
        <br />

        <blockquote class="blockquote-reverse">

            <p>
                <strong>Amount(Nu.) @Html.DisplayFor(m => m.Amount)</strong>
                @if (Model.PaidDate != null)
                {
                    <span>
                        paid on @Html.DisplayFor(m => m.PaidDate)
                    </span>
                }
            </p>

            <small>
                <label>Received at division</label>
                @Html.DisplayFor(m => m.SubmittedToDivisionName)
                <em>on @Html.DisplayFor(m => m.SubmittedOnDate)</em>
                <strong>@@Station</strong>
                @Html.DisplayFor(m => m.StationName)

            </small>
        </blockquote>



        <hr />
        <em class="text-muted">
            <small>
                <label>Remarks:</label>
                @Html.DisplayFor(m => m.Remarks)
            </small>
            <label class="label label-info">
                Currently in division
                @Html.DisplayFor(m => m.CurrentDivision)
            </label>
        </em>
        <br />
        <br />


    </div>
    <div class="col-md-4">
        
            <div class="col-md-4">
                @*<a href="@Url.Action(MVC.ManageBills.ShowBill(Model.Id))" class="thumbnail">
            <img src="@Model.BillImage" width="340" height="300" />   </a>*@
                <a href="@Url.Action(MVC.ManageBills.Image(Model.Id))" class="thumbnail">
                    <img src="@Url.Action(MVC.ManageBills.Image(Model.Id))" alt=" No image">
                </a>
            </div>
            
        </div>
    </div>



<h2 style="margin-top:0">
    Audit
</h2>
<div class="row">
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">
            <div class="row">
                <div class="col-md-2">
                    <strong>Bill Modified Date</strong>
                </div>
                <div class="col-md-10">
                    <strong style="padding-left:8mm">
                        Changed Fields
                    </strong>
                </div>
            </div>
        </li>
        @for (var i = 0; i < Model.BillHistory.Count; ++i)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        @Html.DisplayFor(m => m.BillDate)
                    </div>
                    <div class="col-md-10">
                        Changes
                        <ul>
                            @for (var j = 0; j < Model.BillHistory[i].FieldChanges.Count; ++j)
                            {
                                <li>
                                    @Html.DisplayFor(m => m.BillHistory[i].FieldChanges[j].FieldName) changed from @Html.DisplayFor(m => m.BillHistory[i].FieldChanges[j].OldValue)
                                    to @Html.DisplayFor(m => m.BillHistory[i].FieldChanges[j].NewValue)
                                </li>
                            }
                        </ul>

                    </div>
                </div>
            </li>
        }
    </ul>
</div>
@*<ul class="list-group">
        @for (var i = 0; i < Model.BillHistory.Count; ++i)
        {
            <li class="list-group-item">
                @Html.DisplayFor(m => m.BillHistory[i].DateCreated)
                @Html.DisplayFor(m => m.BillHistory[i].BillNumberOld)
                @Html.DisplayFor(m => m.BillHistory[i].BillNumberNew)
                @Html.DisplayFor(m => m.BillHistory[i].BillCreatedBy)
                @Html.DisplayFor(m => m.BillHistory[i].AmountNew)
                @Html.DisplayFor(m => m.BillHistory[i].AmountOld)
                @Html.DisplayFor(m => m.BillHistory[i].ApprovedByNew)
                @Html.DisplayFor(m => m.BillHistory[i].ApprovedByOld)
                @Html.DisplayFor(m => m.BillHistory[i].BillDateNew)
                @Html.DisplayFor(m => m.BillHistory[i].BillDateOld)
                @Html.DisplayFor(m => m.BillHistory[i].ContractorNameNew)
                @Html.DisplayFor(m => m.BillHistory[i].ContractorNameOld)
                @Html.DisplayFor(m => m.BillHistory[i].DueDateNew)
                @Html.DisplayFor(m => m.BillHistory[i].DueDateOld)
                @Html.DisplayFor(m => m.BillHistory[i].PaidDateNew)
                @Html.DisplayFor(m => m.BillHistory[i].PaidDateOld)
                @Html.DisplayFor(m => m.BillHistory[i].ParticularsNew)
                @Html.DisplayFor(m => m.BillHistory[i].ParticularsOld)
                @Html.DisplayFor(m => m.BillHistory[i].RemarksNew)
                @Html.DisplayFor(m => m.BillHistory[i].RemarksOld)
                @Html.DisplayFor(m => m.BillHistory[i].StationIdNew)
                @Html.DisplayFor(m => m.BillHistory[i].StationIdOld)
                @Html.DisplayFor(m => m.BillHistory[i].SubmittedOnDateNew)
                @Html.DisplayFor(m => m.BillHistory[i].SubmittedOnDateOld)
                @Html.DisplayFor(m => m.BillHistory[i].SubmittedToDivisionNameNew)
                @Html.DisplayFor(m => m.BillHistory[i].SubmittedToDivisionNameOld)
            </li>
        }
    </ul>*@

