@model PhpaAll.Bills.BillViewModel

@{
    ViewBag.Title = "View Bill";
}



<h2 style="margin-top:0">
    <span>Bill Number  <mark class="small">@Html.DisplayFor(m => m.BillNumber) dated @Html.DisplayFor(m => m.BillDate)</mark></span>

    <a href="@Url.Action(MVC.ManageBills.Edit(Model.Id))" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-edit"></span>
        Edit
    </a>
    <a href="@Url.Action(MVC.Bills.RecentBills())" class="btn btn-default btn-sm">
        Recent Bills
    </a>
</h2>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-lg-6">
            <label style="padding-right:1mm">Amount</label>
            @Html.DisplayFor(m => m.Amount) <br />
            <label style="padding-right:1mm">Received by Division </label>
            @Html.DisplayFor(m => m.SubmittedToDivisionName)  on @Html.DisplayFor(m => m.SubmittedOnDate)<br/>
            <label style="padding-right:1mm">Contractor</label>
            @Html.DisplayFor(m => m.ContractorName)
            <br />
            <label style="padding-right:1mm">Station</label>
            @Html.DisplayFor(m => m.StationName)
        </div>
        <div class="col-lg-6">
            <label style="padding-right:1mm">Due Date</label>
            @Html.DisplayFor(m => m.DueDate)
            <br />
            <label style="padding-right:1mm">Paid On</label>
            @Html.DisplayFor(m => m.PaidDate)
            <br />
            <label style="padding-right:1mm">Approved Date</label>
            @Html.DisplayFor(m => m.ApprovedDate)<br />
            <label style="padding-right:1mm">Approved By</label>
            @Html.DisplayFor(m => m.ApprovedBy)
        </div>
    </div>
</div>
<div class="alert alert-info" role="alert">
    <label for="particulars" style="padding-right:1mm">Particulars:- </label>@Html.DisplayFor(m => m.Particulars)
</div>
<div class="alert alert-info" role="alert">
    <label style="padding-right:1mm">Remark:- </label>
    @Html.DisplayFor(m => m.Remarks)
</div>
@*<ul class="list-group">

    <li class="list-group-item">
        <label style="padding-right:1mm">Amount</label>
        @Html.DisplayFor(m => m.Amount)
    </li>

    <li class="list-group-item">
        <label style="padding-right:1mm">Received by Division </label>
        @Html.DisplayFor(m => m.SubmittedToDivisionName)  on @Html.DisplayFor(m => m.SubmittedOnDate)

    </li>
    <li class="list-group-item">
        <label style="padding-right:1mm">Contractor</label>
        @Html.DisplayFor(m => m.ContractorName)

    </li>
    <li class="list-group-item">
        <label style="padding-right:1mm">Due Date</label>
        @Html.DisplayFor(m => m.DueDate)
    </li>
    <li class="list-group-item">
        <label style="padding-right:1mm">Paid On</label>
        @Html.DisplayFor(m => m.PaidDate)

    </li>

    <li class="list-group-item">
        <label style="padding-right:1mm">Approved Date</label>
        @Html.DisplayFor(m => m.ApprovedDate)

    </li>
    <li class="list-group-item">
        <label style="padding-right:1mm">Approved By</label>
        @Html.DisplayFor(m => m.ApprovedBy)

    </li>
    <li class="list-group-item">
        <label style="padding-right:1mm">Station</label>
        @Html.DisplayFor(m => m.StationName)

    </li>
    <li class="list-group-item">
        <label for="particulars" style="padding-right:1mm">Particulars</label>@Html.DisplayFor(m => m.Particulars)
    </li>
    <li class="list-group-item">
        <label style="padding-right:1mm">Remark</label>
        @Html.DisplayFor(m => m.Remarks)

    </li>
    <li class="list-group-item">
        <label style="padding-right:1mm">Image</label>
        @Html.DisplayFor(m => m.BillImage)
    </li>
</ul>*@

<h2 style="margin-top:0">
    Audit
</h2>

<ul class="list-group">
    @for (var i = 0; i < Model.BillHistory.Count; ++i)
    {
        <li class="list-group-item">
            @Html.DisplayFor(m => m.BillHistory[i].DateCreated)
            @Html.DisplayFor(m => m.BillHistory[i].BillNumberOld)
            @Html.DisplayFor(m => m.BillHistory[i].BillNumberNew)
            @Html.DisplayFor(m => m.BillHistory[i].BillCreatedBy)
            @Html.DisplayFor(m => m.BillHistory[i].AmountNew)
            @Html.DisplayFor(m => m.BillHistory[i].AmountOld)
            @Html.DisplayFor(m => m.BillHistory[i].ApprovedByNew)
            @Html.DisplayFor(m => m.BillHistory[i].ApprovedByOld)
            @Html.DisplayFor(m => m.BillHistory[i].BillDateNew)
            @Html.DisplayFor(m => m.BillHistory[i].BillDateOld)
            @Html.DisplayFor(m => m.BillHistory[i].ContractorNameNew)
            @Html.DisplayFor(m => m.BillHistory[i].ContractorNameOld)
            @Html.DisplayFor(m => m.BillHistory[i].DueDateNew)
            @Html.DisplayFor(m => m.BillHistory[i].DueDateOld)
            @Html.DisplayFor(m => m.BillHistory[i].PaidDateNew)
            @Html.DisplayFor(m => m.BillHistory[i].PaidDateOld)
            @Html.DisplayFor(m => m.BillHistory[i].ParticularsNew)
            @Html.DisplayFor(m => m.BillHistory[i].ParticularsOld)
            @Html.DisplayFor(m => m.BillHistory[i].RemarksNew)
            @Html.DisplayFor(m => m.BillHistory[i].RemarksOld)
            @Html.DisplayFor(m => m.BillHistory[i].StationIdNew)
            @Html.DisplayFor(m => m.BillHistory[i].StationIdOld)
            @Html.DisplayFor(m => m.BillHistory[i].SubmittedOnDateNew)
            @Html.DisplayFor(m => m.BillHistory[i].SubmittedOnDateOld)
            @Html.DisplayFor(m => m.BillHistory[i].SubmittedToDivisionNameNew)
            @Html.DisplayFor(m => m.BillHistory[i].SubmittedToDivisionNameOld)
        </li>
    }
</ul>

