@model PhpaAll.Bills.BillViewModel

@{
    ViewBag.Title = "View Bill";
}


<h2 style="margin-top:0" class="text-center">
    @Html.DisplayFor(m => m.ContractorName)
    @if (Model.ApprovedDate != null)
    {

        <label class="label label-success">
            Approved on
            @Html.DisplayFor(m => m.ApprovedDate)
            <em>by  @Html.DisplayFor(m => m.ApprovedBy) </em>
        </label>

    }
    &nbsp;
    <a href="@Url.Action(MVC.ManageBills.Edit(Model.Id))" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-edit"></span>
        Edit
    </a>
    <a href="@Url.Action(MVC.Bills.RecentBills())" class="btn btn-default btn-sm">
        Recent Bills
    </a>
</h2>


<hr />

<div class="row">
    <div class="col-md-8 well well-sm">
        <div class="row">
            <div class="col-md-8">
                <strong>No: @Html.DisplayFor(m => m.BillNumber)</strong>
            </div>
            <div class="col-md-4" style="text-align:right">
                <strong class="pull-right1">Dated: @Html.DisplayFor(m => m.BillDate)</strong>
                @if (Model.DueDate < DateTime.Now)
                {
                    <em class="label label-danger" style="white-space:nowrap"><small>Due @Html.DisplayFor(m => m.DueDate)</small></em><br />
                }
                else
                {
                    <em style="white-space:nowrap"><small>Due @Html.DisplayFor(m => m.DueDate)</small></em><br />
                }
            </div>
        </div>
        <br />
        <small class="text-info">
            <strong>Particulars:</strong> @Html.DisplayFor(m => m.Particulars)
        </small>
        <br />
        <br />

        <blockquote class="blockquote-reverse">

            <p>
                <strong>Amount(Nu.) @Html.DisplayFor(m => m.Amount)</strong>
                @if (Model.PaidDate != null)
                {
                    <span>
                        paid on @Html.DisplayFor(m => m.PaidDate)
                    </span>
                }
            </p>

            <small>
                <label>Received at division</label>
                @Html.DisplayFor(m => m.SubmittedToDivisionName)
                <em>on @Html.DisplayFor(m => m.SubmittedOnDate)</em>
                <strong>@@Station</strong>
                @Html.DisplayFor(m => m.StationName)

            </small>
        </blockquote>



        <hr />
        <em class="text-muted">
            <small>
                <label>Remarks:</label>
                @Html.DisplayFor(m => m.Remarks)
            </small>
        </em>
        <br />
        <br />


    </div>
    <div class="col-md-4">
        This is hardwired image
        <img src="~/Images/Its demoimageDeleteit.jpg" width="340" height="300" />
        @Html.DisplayFor(m => m.BillImage)
    </div>
</div>


<h2 style="margin-top:0">
    Audit
</h2>
<div class="row">
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">
            <div class="row">
                <div class="col-md-2">
                    <strong>Bill Modified Date</strong>
                </div>
                <div class="col-md-10">
                    <strong style="padding-left:8mm">
                        Changed Fields
                    </strong>
                </div>
            </div>
        </li>
        @for (var i = 0; i < Model.BillHistory.Count; ++i)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        @Html.DisplayFor(m => m.BillDate)
                    </div>
                    <div class="col-md-10">
                        <ul>
                            @if (Model.BillHistory[i].BillNumberOld != null && Model.BillHistory[i].BillNumberNew != Model.BillHistory[i].BillNumberOld)
                            {
                                <li>
                                    <label style="padding-right:1mm">Bill Number Changed</label>
                                     @Html.DisplayFor(m => m.BillHistory[i].BillNumberOld) To @Html.DisplayFor(m => m.BillHistory[i].BillNumberNew)
                                </li>
                                @* <li>
        <label style="padding-right:1mm">Bill Number New</label>
        @Html.DisplayFor(m => m.BillHistory[i].BillNumberNew)
    </li>
        <li>
        <label style="padding-right:1mm">Bill Number Old</label>
        @Html.DisplayFor(m => m.BillHistory[i].BillNumberOld)
    </li>*@
                            }
                            @if (Model.BillHistory[i].BillDateOld != null && Model.BillHistory[i].BillDateNew != Model.BillHistory[i].BillDateOld)
                            {
                                <li>
                                    <label style="padding-right:1mm">Bill Date Changed</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].BillDateOld) To  @Html.DisplayFor(m => m.BillHistory[i].BillDateNew)
                                </li>
                                
                                @*<li>
                                    <label style="padding-right:1mm">Bill Date New</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].BillDateNew)
                                </li>
                                <li>
                                    <label style="padding-right:1mm">Bill Date Old</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].BillDateOld)
                                </li>*@
                            }
                            @if (Model.BillHistory[i].AmountOld != null && Model.BillHistory[i].AmountOld != Model.BillHistory[i].AmountNew)
                            {
                                <li>
                                    <label style="padding-right:1mm">Amount New</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].AmountNew)
                                </li>
                                <li>
                                    <label style="padding-right:1mm">Amount Old</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].AmountOld)
                                </li>
                            }
                            @if (Model.BillHistory[i].ContractorNameOld != null && Model.BillHistory[i].ContractorNameNew != Model.BillHistory[i].ContractorNameOld)
                            {
                                <li>
                                    <label style="padding-right:1mm">Contractor Name New</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].BillNumberNew)
                                </li>
                                <li>
                                    <label style="padding-right:1mm">Contractor Name Old</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].ContractorNameNew)
                                </li>
                            }
                            @if (Model.BillHistory[i].SubmittedToDivisionNameOld != null && Model.BillHistory[i].SubmittedToDivisionNameNew != Model.BillHistory[i].SubmittedToDivisionNameOld)
                            {
                                <li>
                                    <label style="padding-right:1mm">Division New</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].SubmittedToDivisionNameNew)
                                </li>
                                <li>
                                    <label style="padding-right:1mm">Division Old</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].SubmittedToDivisionNameOld)
                                </li>
                            }
                            @if (Model.BillHistory[i].PaidDateOld != null && Model.BillHistory[i].PaidDateNew != Model.BillHistory[i].PaidDateOld)
                            {
                                <li>
                                    <label style="padding-right:1mm">Paid Date New</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].PaidDateNew)
                                </li>
                                <li>
                                    <label style="padding-right:1mm">Paid Date Old</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].PaidDateOld)
                                </li>
                            }
                            @if (Model.BillHistory[i].ApprovedByOld != null && Model.BillHistory[i].ApprovedByNew != Model.BillHistory[i].ApprovedByOld)
                            {
                                <li>
                                    <label style="padding-right:1mm">Approved By New</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].ApprovedByNew)
                                </li>
                                <li>
                                    <label style="padding-right:1mm">Approved By  Old</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].ApprovedByOld)
                                </li>
                            }
                            @if (Model.BillHistory[i].ApprovedOnOld != null && Model.BillHistory[i].ApprovedOnNew != Model.BillHistory[i].ApprovedOnOld)
                            {
                                <li>
                                    <label style="padding-right:1mm">Approved Date New</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].ApprovedOnNew)
                                </li>
                                <li>
                                    <label style="padding-right:1mm">Approved Date Old</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].ApprovedOnOld)
                                </li>
                            }
                            @if (Model.BillHistory[i].ParticularsOld != null && Model.BillHistory[i].ParticularsOld != Model.BillHistory[i].ParticularsNew)
                            {
                                <li>
                                    <label style="padding-right:1mm">Particular New</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].ParticularsNew)
                                </li>
                                <li>
                                    <label style="padding-right:1mm">Particular Old</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].ParticularsOld)
                                </li>
                            }
                            @if (Model.BillHistory[i].RemarksOld != null && Model.BillHistory[i].RemarksNew != Model.BillHistory[i].RemarksOld)
                            {
                                <li>
                                    <label style="padding-right:1mm">Remark New</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].RemarksNew)
                                </li>
                                <li>
                                    <label style="padding-right:1mm">Remark Old</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].RemarksOld)
                                </li>
                            }
                            @if (Model.BillHistory[i].SubmittedOnDateOld != null && Model.BillHistory[i].SubmittedOnDateNew != Model.BillHistory[i].SubmittedOnDateOld)
                            {
                                <li>
                                    <label style="padding-right:1mm">Submitted Date New</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].SubmittedOnDateNew)
                                </li>
                                <li>
                                    <label style="padding-right:1mm">Submitted Date Old</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].SubmittedOnDateOld)
                                </li>
                            }
                            @if (Model.BillHistory[i].StationIdOld != null && Model.BillHistory[i].StationIdNew != Model.BillHistory[i].StationIdOld)
                            {
                                <li>
                                    <label style="padding-right:1mm">Station New</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].StationIdNew)
                                </li>
                                <li>
                                    <label style="padding-right:1mm">Station Old</label>
                                    @Html.DisplayFor(m => m.BillHistory[i].StationIdOld)
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
<ul class="list-group">
    @for (var i = 0; i < Model.BillHistory.Count; ++i)
    {
        <li class="list-group-item">
            @Html.DisplayFor(m => m.BillHistory[i].DateCreated)
            @Html.DisplayFor(m => m.BillHistory[i].BillNumberOld)
            @Html.DisplayFor(m => m.BillHistory[i].BillNumberNew)
            @Html.DisplayFor(m => m.BillHistory[i].BillCreatedBy)
            @Html.DisplayFor(m => m.BillHistory[i].AmountNew)
            @Html.DisplayFor(m => m.BillHistory[i].AmountOld)
            @Html.DisplayFor(m => m.BillHistory[i].ApprovedByNew)
            @Html.DisplayFor(m => m.BillHistory[i].ApprovedByOld)
            @Html.DisplayFor(m => m.BillHistory[i].BillDateNew)
            @Html.DisplayFor(m => m.BillHistory[i].BillDateOld)
            @Html.DisplayFor(m => m.BillHistory[i].ContractorNameNew)
            @Html.DisplayFor(m => m.BillHistory[i].ContractorNameOld)
            @Html.DisplayFor(m => m.BillHistory[i].DueDateNew)
            @Html.DisplayFor(m => m.BillHistory[i].DueDateOld)
            @Html.DisplayFor(m => m.BillHistory[i].PaidDateNew)
            @Html.DisplayFor(m => m.BillHistory[i].PaidDateOld)
            @Html.DisplayFor(m => m.BillHistory[i].ParticularsNew)
            @Html.DisplayFor(m => m.BillHistory[i].ParticularsOld)
            @Html.DisplayFor(m => m.BillHistory[i].RemarksNew)
            @Html.DisplayFor(m => m.BillHistory[i].RemarksOld)
            @Html.DisplayFor(m => m.BillHistory[i].StationIdNew)
            @Html.DisplayFor(m => m.BillHistory[i].StationIdOld)
            @Html.DisplayFor(m => m.BillHistory[i].SubmittedOnDateNew)
            @Html.DisplayFor(m => m.BillHistory[i].SubmittedOnDateOld)
            @Html.DisplayFor(m => m.BillHistory[i].SubmittedToDivisionNameNew)
            @Html.DisplayFor(m => m.BillHistory[i].SubmittedToDivisionNameOld)
        </li>
    }
</ul>

