@model PhpaAll.Bills.BillViewModel

@{
    ViewBag.Title = "View Bill";
}

<div class="page-header">
    <h2>Bill from @Html.DisplayFor(m => m.ContractorName) <small>dated @Html.DisplayFor(m => m.BillDate) for Nu @Html.DisplayFor(m => m.Amount)</small></h2>
</div>

@*<li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
            <span><span class="label label-default">Approve/Unapprove</span> <span class="caret"></span></span>
        </a>
        @if (Model.ApprovedBy == null)
        {
            <ul class="dropdown-menu" role="menu">
                <li class="divider"></li>
                <li role="presentation">
                    <form action="@Url.Action(MVC.ManageBills.ApproveBill())" method="post" style="text-align:center; margin:1mm">
                        <button class="btn btn-info" name="@MVC.ManageBills.ApproveBillParams.billId"
                                value="@Model.BillId" type="submit">
                            <span class="glyphicon glyphicon-play"></span>
                            Approve
                        </button>
                    </form>
                </li>
            </ul>
        }
        else
        {
            <ul class="dropdown-menu" role="menu">
                <li>
                    <form action="@Url.Action(MVC.ManageBills.UnApproveBill())" method="post" style="text-align:center; margin:1mm">
                        <br />
                        <button class="btn btn-warning"
                                name="@MVC.ManageBills.ApproveBillParams.billId"
                                value="@Model.BillId" type="submit">
                            <span class="glyphicon glyphicon-pause"></span>
                            Unapprove
                        </button>
                    </form>
                </li>
                <li class="divider"></li>
            </ul>
        }
    </li>*@

<div class="well well-sm">
    <div class="text-center">
        <div style="display:inline-block">
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group" role="group" aria-label="...">
                    <a href="@Url.Action(MVC.ManageBills.Edit(Model.BillId))" class="btn btn-link">
                        Edit
                    </a>
                </div>
                <div class="btn-group" role="group" aria-label="...">
                    @*For contractor bills, show other bills of this contractor. TODO: Think of what to show for non contractor bills*@
                    @{
                        var actionRecentBills = MVC.Bills.RecentBills();
                        if (Model.ContractorId.HasValue)
                        {
                            actionRecentBills.AddRouteValue(MVC.Bills.RecentBillsParams.contractors, Model.ContractorId);
                        }
                        if (Model.DivisionId.HasValue)
                        {
                            actionRecentBills.AddRouteValue(MVC.Bills.RecentBillsParams.divisions, Model.DivisionId);
                        }
                    }
                    <a href="@Url.Action(actionRecentBills)" class="btn btn-link">
                        Similar Bills
                    </a>
                </div>
                <div class="btn-group" role="group" aria-label="...">
                    @if (Model.VoucherDate == null)
                    {
                        <a href="~/Finance/InsertVoucher.aspx" class="btn btn-link">
                            Create Voucher for this bill
                        </a>
                    }
                    else
                    {
                        <a href="~/Finance/InsertVoucher.aspx?VoucherId=@Model.VoucherId" class="btn btn-link">
                            Voucher Number: @Model.VoucherCode
                        </a>
                    }
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>Bill Date</dt>
                <dd>@Html.DisplayFor(m => m.BillDate)</dd>
                <dt>Bill Number</dt>
                <dd>@Html.DisplayFor(m => m.BillNumber)</dd>
                <dt>For Division @@ Station</dt>
                <dd>@Html.DisplayFor(m => m.DivisionName) @@ @Html.DisplayFor(m => m.StationName)</dd>
                <dt>Contractor</dt>
                <dd>@Html.DisplayFor(m => m.ContractorName)</dd>
                <dt>Received on</dt>
                <dd>@Html.DisplayFor(m => m.ReceivedDate)</dd>
                <dt>Payment due</dt>
                <dd>@Html.DisplayFor(m => m.DueDate)</dd>
                <dt>Created On</dt>
                <dd>@Html.DisplayFor(m => m.BillCreateDate) <strong>By </strong>  @Html.DisplayFor(m => m.BillCreatedby)</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">

                <dt>Amount</dt>
                <dd><span> @Html.DisplayFor(m => m.Amount)</span></dd>
                <dt>Particulars</dt>
                <dd>@Html.DisplayFor(m => m.Particulars)</dd>
                <dt>Remarks</dt>
                <dd>@Html.DisplayFor(m => m.Remarks)</dd>
                <dt>Approved</dt>
                <dd>
                    @if (Model.ApprovedDate != null)
                    {
                        <span class="label label-success">
                            Approved on
                            @Html.DisplayFor(m => m.ApprovedDate)
                            by  @Html.DisplayFor(m => m.ApprovedBy)
                        </span>
                    }
                    else
                    {
                        <span>Not approved for payment</span>

                    }

                    @if (@Model.ApprovedBy == null)
                    {
                        <form action="@Url.Action(MVC.ManageBills.ApproveBill())" method="post">
                            <button class="btn btn-info" name="@MVC.ManageBills.ApproveBillParams.billId"
                                    value="@Model.BillId" type="submit">
                                <span class="glyphicon glyphicon-play"></span>
                                Approve
                            </button>
                        </form>

                    }
                    else
                    {
                        <form action="@Url.Action(MVC.ManageBills.UnApproveBill())" method="post">
                            <br />
                            <button class="btn btn-warning"
                                    name="@MVC.ManageBills.ApproveBillParams.billId"
                                    value="@Model.BillId" type="submit">
                                <span class="glyphicon glyphicon-pause"></span>
                                Unapprove
                            </button>
                        </form>
                    }
                </dd>
                <dt>
                    Current Division
                </dt>
                <dd>
                    @Html.DisplayFor(m => m.AtDivision)
                </dd>
            </dl>
        </div>

    </div>
</div>


@if (Model.AttachedImageCount > 0)
{
    <nav class="text-center">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous" data-target="#carousel-attachment" data-slide-to="0">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (var i = 0; i < Model.AttachedImageCount; ++i)
            {
                <li><a href="#" data-target="#carousel-attachment" data-slide-to="@i">@(i + 1)</a></li>
            }
            <li>
                <a href="#" aria-label="Next" data-target="#carousel-attachment" data-slide-to="@(Model.AttachedImageCount - 1)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li>
                <a href="#" aria-label="Next" data-target="#carousel-attachment" data-slide-to="@(Model.AttachedImageCount)">
                    <span aria-hidden="true">Add</span>
                </a>
            </li>
        </ul>

    </nav>
}
<div id="carousel-attachment" class="carousel slide" data-ride="carousel" data-interval="false">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @for (var i = 0; i < Model.AttachedImageCount; ++i)
        {
            <div class="item @(i == 0 ? "active" : "")">
                @if (i == 0)
                {
                    <img src="@Url.Action(MVC.ManageBills.Image(Model.BillId, i))" alt="..." width="950" height="654" />
                }
                else
                {
                    <img data-src="@Url.Action(MVC.ManageBills.Image(Model.BillId, i))" alt="..." width="950" height="654" />
                }

                <div class="carousel-caption">
                    <h3 class="text-danger">
                        Image @(i + 1)
                    </h3>
                    <form method="post" action="@Url.Action(MVC.ManageBills.DeleteImageofBill())">
                        <input type="hidden" name="@MVC.ManageBills.DeleteImageofBillParams.billId" value="@Model.BillId" />
                        <input type="hidden" name="@MVC.ManageBills.DeleteImageofBillParams.index" value="@i" />
                        <button class="btn btn-danger btn-xs">Delete me</button>
                    </form>

                </div>
            </div>
        }
        <div class="item @(Model.AttachedImageCount == 0 ? "active" : "")">
            @if (Model.AttachedImageCount < 10)
            {
                <em>
                    <small>Note: @Model.AttachedImageCount images have been uploaded</small>
                    |
                    <a href="@Url.Action(MVC.ManageBills.ShowBill(Model.BillId))">
                        <span class="glyphicon glyphicon-refresh"></span>Refresh
                    </a>
                </em>
                <form action="@Url.Action(MVC.ManageBills.UploadImage())"
                      class="dropzone"
                      id="my-dropzone">
                    <input type="hidden" name="@MVC.ManageBills.UploadImageParams.billId" value="@Model.BillId" />
                    <div class="fallback">
                        <input name="@MVC.ManageBills.UploadImageParams.file" type="file" multiple />
                    </div>
                </form>
            }
            else
            {
                <p class="alert alert-info">Max 10 files allowed. Remove some images to add more.</p>
            }
        </div>
    </div>
    @if (Model.AttachedImageCount > 0)
    {
    <!-- Controls -->
        <a class="left carousel-control" href="#carousel-attachment" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-attachment" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    }
</div>

<h2>
    Audit
</h2>
<ul class="list-group">
    <li class="list-group-item list-group-item-success">
        <div class="row">
            <div class="col-md-2">
                <strong>Date</strong>
            </div>
            <div class="col-md-8">
                <strong>Change log</strong>
            </div>
        </div>
    </li>
    @for (var i = 0; i < Model.BillHistory.Count; ++i)
    {

        <li class="list-group-item">
            <div class="row">
                <div class="col-md-2">
                    @Html.DisplayFor(m => m.BillHistory[i].DateCreated) by
                    @Html.DisplayFor(m => m.BillHistory[i].CreatedBy)
                </div>
                <div class="col-md-8">
                    <dl class="dl-horizontal">
                        @for (var j = 0; j < Model.BillHistory[i].FieldChanges.Count; ++j)
                        {

                            <dt>
                                @Html.DisplayFor(m => m.BillHistory[i].FieldChanges[j].FieldName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(m => m.BillHistory[i].FieldChanges[j].OldValue)
                                &rarr;
                                @Html.DisplayFor(m => m.BillHistory[i].FieldChanges[j].NewValue)
                            </dd>

                        }
                    </dl>
                </div>
            </div>
        </li>
    }
</ul>



@section scripts {
    <link rel="stylesheet" href="@Links.Views.ManageBills.dropzone_css" />
    <script type="text/javascript" src="@Links.Views.ManageBills.Bill_js"></script>

    <script type="text/javascript">
        // Removing file from server http://stackoverflow.com/questions/17452662/dropzone-js-how-to-delete-files-from-server
        $(document).ready(function () {
            "use strict";
            Dropzone.options.myDropzone = {
                init: function () {

                    this.on("success", function (file, response) {
                        // response must contain the user of the file which can be used for deleting it
                        $('a.dz-remove', file.previewTemplate).attr('data-dz-remove', response.DeleteUrl);
                    });
                    this.on("removedfile", function (file) {
                        var url = $('a.dz-remove', file.previewTemplate).attr('data-dz-remove');
                        //$('a.dz-remove', file.previewTemplate).attr('data-dz-errormessage', 'Something went wrong');
                        //alert(url);
                        //TODO: How to handle post error. We do not want the file to get removed from dropzone UI.
                        $.post(url);
                    });
                },
                dictDefaultMessage: 'Drag or click to upload images (Max: 10 Images)',
                addRemoveLinks: true,
                // Files of all other types will be rejected
                acceptedFiles: "image/*",
                maxFilesize: 5,  // MB
                maxFiles: 10            // Max 10 files
            };

            // Set the src attribute of image so that it now gets loaded
            // Then remove the data-src attribute so that the image does not get loaded again
            $('#carousel-attachment').on('slide.bs.carousel', function (arg) {
                var $img = $('img[data-src]', arg.relatedTarget);
                $img.attr('src', $img.attr('data-src')).removeAttr('data-src');
            })
        });
    </script>
}
