@model PhpaAll.Bills.BillViewModel

@{
    ViewBag.Title = "View Bill";
}


<h2 style="margin-top:0" class="text-center">
    @Html.DisplayFor(m => m.ContractorName)
    @if (Model.ApprovedDate != null)
    {

        <label class="label label-success">
            Approved on
            @Html.DisplayFor(m => m.ApprovedDate)
            <em>by  @Html.DisplayFor(m => m.ApprovedBy) </em>
        </label>

    }
</h2>
<hr />
<div class="row">
    <div class="col-md-10">
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <strong><mark>No: @Html.DisplayFor(m => m.BillNumber)</mark></strong>
                </div>
                <div class="col-md-4" style="text-align:right">
                    <strong class="pull-right1">Dated: @Html.DisplayFor(m => m.BillDate)</strong>
                    @if (Model.DueDate < DateTime.Now)
                    {
                        <em class="label label-danger" style="white-space:nowrap"><small>Due @Html.DisplayFor(m => m.DueDate)</small></em><br />
                    }
                    else
                    {
                        <em style="white-space:nowrap"><small>Due @Html.DisplayFor(m => m.DueDate)</small></em><br />
                    }
                </div>
            </div>

            <small class="text-info">
                <strong>Particulars:</strong> @Html.DisplayFor(m => m.Particulars)
            </small>
            <blockquote class="blockquote-reverse">
                <p>
                    <strong>Amount(Nu.) @Html.DisplayFor(m => m.Amount)</strong>

                    @if (Model.PaidDate != null)
                    {
                        <span>
                            paid on @Html.DisplayFor(m => m.PaidDate)
                        </span>
                    }

                    <small>
                        <label>Received at division</label>
                        @Html.DisplayFor(m => m.SubmittedToDivisionName)
                        <em>on @Html.DisplayFor(m => m.SubmittedOnDate)</em>
                        <strong>@@Station</strong>
                        @Html.DisplayFor(m => m.StationName)

                    </small>
                </p>
            </blockquote>

            <label class="label label-info">
                Processing Division:
                @Html.DisplayFor(m => m.CurrentDivision)
            </label>
            <br />
            <em class="text-muted">
                <small>
                    <label>Remarks:</label>
                    @Html.DisplayFor(m => m.Remarks)
                </small>
            </em>

        </div>
    </div>
    <div class="col-md-2">
        <div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" class="btn btn-lg btn-primary" disabled>
                Actions
            </button>
            <button type="button" class="btn btn-default">
                <spn class="glyphicon glyphicon-thumbs-up"></spn> Approve Bill

            </button>
            <button type="button" class="btn btn-default">
                <spn class="glyphicon glyphicon-thumbs-down"></spn> Cancel  Approvel
            </button>
            <a href="@Url.Action(MVC.ManageBills.Edit(Model.Id))" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span>
                Edit
            </a>
            <a href="#" class="btn btn-default">
                Create Voucher
            </a>
            <a href="@Url.Action(MVC.Bills.RecentBills())" class="btn btn-default">
                Recent Bills
            </a>
        </div>

    </div>
</div>






<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false" style="height:500px;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @for (var i = 0; i < Model.AttachedImageCount; ++i)
        {
            <li data-target="#carousel-example-generic" data-slide-to="@i" class="@(i == 0 ? "active" : null)"></li>
        }
        <li data-target="#carousel-example-generic" data-slide-to="@Model.AttachedImageCount" class="@(Model.AttachedImageCount == 0 ? "active" : null)"></li>

    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @for (var i = 0; i < Model.AttachedImageCount; ++i)
        {
            <div class="item @(i == 0 ? "active" : "")">
                <img src="@Url.Action(MVC.ManageBills.Image(Model.Id, i))" alt="...">
                <div class="carousel-caption">
                    <h3 class="text-danger">
                      Image 00@(i + 1)
                    </h3>
                    <form method="post" action="@Url.Action(MVC.ManageBills.DeleteImageofBill(Model.Id, i))">
                        <button class="btn btn-danger btn-xs">Delete me</button>
                    </form>

                </div>
            </div>
        }
        <div class="item @(Model.AttachedImageCount == 0 ? "active" : "")">
            <form action="@Url.Action(MVC.ManageBills.UploadImage())"
                  class="dropzone"
                  id="my-dropzone" style="height:500px;">             
                <input type="hidden" name="@MVC.ManageBills.UploadImageParams.billId" value="@Model.Id" />
                <div class="fallback">
                    <input name="@MVC.ManageBills.UploadImageParams.file" type="file" multiple />
                </div>
            </form>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>







<h2 style="margin-top:0">
    Audit
</h2>
<div class="row">
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">
            <div class="row">
                <div class="col-md-2">
                    <strong>Bill Modified Date</strong>
                </div>
                <div class="col-md-10">
                    <strong style="padding-left:8mm">
                        Changed Fields
                    </strong>
                </div>
            </div>
        </li>
        @for (var i = 0; i < Model.BillHistory.Count; ++i)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        @Html.DisplayFor(m => m.BillDate)
                    </div>
                    <div class="col-md-10">
                        Changes
                        <ul>
                            @for (var j = 0; j < Model.BillHistory[i].FieldChanges.Count; ++j)
                            {
                                <li>
                                    @Html.DisplayFor(m => m.BillHistory[i].FieldChanges[j].FieldName) changed from @Html.DisplayFor(m => m.BillHistory[i].FieldChanges[j].OldValue)
                                    to @Html.DisplayFor(m => m.BillHistory[i].FieldChanges[j].NewValue)
                                </li>
                            }
                        </ul>

                    </div>
                </div>
            </li>
        }
    </ul>
</div>











@section scripts {
    <style type="text/css">        
        .carousel-indicators li {
           border-color: #ff0000;
        }

        .carousel-indicators .active {
            background-color: #ff0000;
        }
    </style>

    <link rel="stylesheet" href="@Links.Scripts.dropzone.dropzone_css" />
    <script type="text/javascript" src="@Links.Scripts.dropzone.dropzone_js"></script>





    <script type="text/javascript">
        // Removing file from server http://stackoverflow.com/questions/17452662/dropzone-js-how-to-delete-files-from-server
        $(document).ready(function () {
            "use strict";
            Dropzone.options.myDropzone = {
                init: function () {
                    this.on("success", function (file, response) {
                        // response must contain the user of the file which can be used for deleting it
                        alert(response.DeleteUrl);
                        $('a.dz-remove', file.previewTemplate).attr('data-dz-remove', response.DeleteUrl);
                    });
                    this.on("removedfile", function (file) {
                        var url = $('a.dz-remove', file.previewTemplate).attr('data-dz-remove');
                        //$('a.dz-remove', file.previewTemplate).attr('data-dz-errormessage', 'Something went wrong');
                        //alert(url);
                        //TODO: How to handle post error. We do not want the file to get removed from dropzone UI.
                        //$.post(url);
                    });
                },
                addRemoveLinks: true,
                acceptedFiles: "image/*"
               


            };


        });
    </script>
}
