@model PhpaAll.Bills.CreateViewModel

@{
    ViewBag.Title = "Create Bill";
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<h2 style="margin-top:0">
    @ViewBag.Title
</h2>

<p>
    The bill is created as soon as it is received by the division. Creation of the bill implies that it has been approved for payment by the division.
    It becomes visible to finance as soon as it is created. Finance must then approve it for payment.
</p>
<form action="@Url.Action(MVC.ManageBills.CreateBill())" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(m => m.Id)
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="billDate">Bill Date *</label>
                <div class='input-group date' id='billDatePicker'>
                    @Html.TextBoxFor(m => m.BillDate, new
           {
               id = "billDate",
               @class = "form-control",
               @required = "required",
               @placeholder = "dd/mm/yyyy"
           })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.BillDate, null, new
           {
               @class = "help-block"
           })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="billNumber">Bill No. *</label>


                @Html.TextBoxFor(m => m.BillNumber, new
                                   {
                                       id = "billNumber",
                                       maxlength = "60",
                                       @class = "form-control",
                                       @required = "required"
                                   })

                @Html.ValidationMessageFor(m => m.BillNumber, null, new
                                   {
                                       @class = "help-block"
                                   })

            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="tbDivision">Division *</label>

                <div class="input-group input-group-sm">
                    <input type="text" id="tbDivision" class="form-control typeahead" value="@Model.SubmittedToDivisionName" required placeholder="Start typing..."
                           data-url="@Url.Action(MVC.ManageBills.GetDivision("~"))" />
                    <span class="input-group-btn ">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
                <small class="help-block">The division which received this bill.</small>
                @Html.ValidationMessageFor(m => m.DivisionId, null, new
           {
               @class = "help-block"
           })
                @Html.TextBoxFor(m => m.DivisionId, new
               {
                   style = "height:0; width:0; border:none"
               })


            </div>

        </div>
        <div class="col-md-3">
            <div class="form-group">

                <label for="particulars">Station</label>
                @Html.DropDownListFor(m => m.StationId, Model.StationList, "Select station",
                    new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(m => m.StationId, null, new
                                   {
                                       @class = "help-block"
                                   })
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <label for="particulars">Particulars</label>

                @Html.TextBoxFor(m => m.Particulars, new
           {
               id = "particulars",
               @class = "form-control",
               maxlength = "255",
               placeholder = "You can mention the subject of the bill"

           })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="amount">Amount *</label>

                @Html.TextBoxFor(m => m.Amount, new
           {
               id = "amount",
               @class = "form-control",
               min = "0",
               type = "decimal",
               @required = "required",
               placeholder = "Amount(Nu)"

           })
                @Html.ValidationMessageFor(m => m.Amount, null, new
           {
               @class = "help-block"
           })
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="divSubDate">Received on</label>
            <div class='input-group date' id='divSubDatePicker'>
                @Html.TextBoxFor(m => m.ReceivedDate, new
           {
               id = "divSubDate",
               @class = "form-control",
               type = "date",
               @placeholder = "dd/mm/yyyy"
           })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.ReceivedDate, null, new
           {
               @class = "help-block"
           })

        </div>

    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="dueDate">Payment Due Date</label>
            <div class='input-group date' id='dueDatePicker'>
                @Html.TextBoxFor(m => m.DueDate, new
           {
               id = "dueDate",
               @class = "form-control",
               type = "date",
               @placeholder = "dd/mm/yyyy"
           })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.DueDate, null, new
           {
               @class = "help-block"
           })
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="tbContractor">Contractor</label>

            <div class="input-group input-group-sm">
                <input type="text" id="tbContractor" class="form-control typeahead" value="@Model.ContractorName" required placeholder="Start typing..."
                       data-url="@Url.Action(MVC.ManageBills.GetContractor("~"))" />
                <span class="input-group-btn ">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.ContractorId, null, new
           {
               @class = "help-block"
           })
            @Html.TextBoxFor(m => m.ContractorId, new
               {
                   style = "height:0; width:0; border:none"
               })
        
        </div>
    </div>
    <div class="row">
        @*<div class="col-md-3">
                <div class="form-group">
                    <label for="image">Image</label>

                    @Html.TextBoxFor(m => m.BillImage, new
               {
                   id = "image",
                   @class = "form-control",
                   type = "File"

               })

                </div>
            </div>*@
    </div>


    <div class="form-group">
        <label for="remarks">Remarks</label>

        @Html.TextAreaFor(m => m.Remarks, new
           {
               id = "remarks",
               @class = "form-control",
               maxlength = "255"
           })
        @Html.ValidationMessageFor(m => m.Remarks, null, new
           {
               @class = "help-block"
           })
    </div>



    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Bill</button>
        <a href="@Url.Action(MVC.Bills.RecentBills())">Cancel</a>

    </div>
</form>




@section scripts {
    <script type="text/javascript" src="@Links.Views.Shared.jqueryval_js"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            "use strict";
            $('#tbDivision,#tbContractor').each(function (index, elem) {
                $(elem).typeahead({
                    highlight: true
                }, {
                    //name: 'Division',
                    displayKey: 'label',
                    source: function (query, cb) {
                        var url = $(elem).attr('data-url').replace('~', query);
                        $.get(url).done(function (data, textStatus, jqXHR) {
                            this.cb(data);
                        }.bind({ cb: cb })).fail(function (jqXHR, textStatus, errorThrown) {
                            if (jqXHR.status == 500) {
                                this.cb([{ label: 'Error ' + (jqXHR.responseText || errorThrown), value: '' }]);
                            } else {
                                this.cb([{ label: 'Http Error ' + jqXHR.status + ': ' + errorThrown + ' ' + this.url, value: '' }]);
                            }
                        }.bind({ cb: cb, url: url }));
                    },
                    templates: {
                        empty: 'No matching results found'
                    }
                }).on('typeahead:selected typeahead:autocompleted', function (e, sug, ds) {
                    // Store the id of the selected division in the hdden field
                    //$('#hfDivisionId').val(sug.value);
                    $(this).closest('div.form-group').find('input:not(".typeahead")').val(sug.value);
                }).on('input', function (e) {
                    // When user changes the divisionId, empty the hidden field
                    $(this).closest('div.form-group').find('input:not(".typeahead")').val('');
                });

            });


            $("#billDatePicker,#divSubDatePicker,#dueDatePicker").datetimepicker({
                format: 'D/M/YYYY'
            });






        });
    </script>
}