@model PhpaAll.Bills.CreateViewModel

@{
    ViewBag.Title = "Bill Editor";
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<h2 style="margin-top:0">
    <span>Create Bill</span>
</h2>

<p>
    The bill is created as soon as it is received by the division. Creation of the bill imples that it has been approved for payment by the division.
    It becomes visible to finance as soon as it is created. Finance must then approve it for payment.
</p>

<form class="form-horizontal" action="@Url.Action(MVC.ManageBills.CreateBill())" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(m => m.Id)
    <div class="well well-sm">
        <div class="form-group form-group-sm">
            <label for="billNumber" class="col-sm-2 control-label">Bill No. *</label>
            <div class="col-sm-3">

                @Html.TextBoxFor(m => m.BillNumber, new
                                   {
                                       id = "billNumber",
                                       maxlength = "60",
                                       @class = "form-control",
                                       @required = "required"
                                   })

                @Html.ValidationMessageFor(m => m.BillNumber, null, new
                                   {
                                       @class = "help-block"
                                   })


            </div>

            <label for="particulars" class="col-sm-1 control-label">Particulars</label>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.Particulars, new
           {
               id = "particulars",
               @class = "form-control",
               maxlength = "255"

           })

                <small class="help-block">*You can mention the subject of the bill</small>
            </div>







            <label for="billDate" class="col-sm-1 control-label">Bill Date *</label>
            <div class="col-sm-2">
                @Html.TextBoxFor(m => m.BillDate, new
           {
               id = "billDate",
               @class = "form-control",
               @required = "required",
               @placeholder = "dd/mm/yyyy"
           })
                @Html.ValidationMessageFor(m => m.BillDate, null, new
           {
               @class = "help-block"
           })

            </div>
        </div>
        <div class="form-group form-group-sm">
            <label for="tbDivision" class="col-sm-2 control-label">Received by Division *</label>
            <div class="col-sm-3">
                <div class="input-group input-group-sm">
                    <input type="text" id="tbDivision" class="form-control typeahead" value="@Model.SubmittedToDivisionName" required />
                    <span class="input-group-btn ">
                        <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.SubmittedToDivisionId, null, new
           {
               @class = "help-block"
           })
                @Html.TextBoxFor(m => m.SubmittedToDivisionId, new
               {
                   id = "hfDivId",
                   style = "height:0; width:0; border:none"
               })
            </div>

            <label for="divSubDate" class="col-sm-1 control-label">on date</label>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.SubmittedOnDate, new
           {
               id = "divSubDate",
               @class = "form-control",
               type = "date",
               @placeholder = "dd/mm/yyyy"
           })
                @Html.ValidationMessageFor(m => m.SubmittedOnDate, null, new
           {
               @class = "help-block"
           })
            </div>

            <label for="dueDate" class="col-sm-1 control-label">Due Date</label>
            <div class="col-sm-2">
                @Html.TextBoxFor(m => m.DueDate, new
           {
               id = "dueDate",
               @class = "form-control",
               type = "date",
               @placeholder = "dd/mm/yyyy"
           })
                @Html.ValidationMessageFor(m => m.DueDate, null, new
           {
               @class = "help-block"
           })

            </div>
        </div>

        <div class="form-group form-group-sm">
            <label for="tbContractor" class="col-sm-2 control-label">Contractor Id</label>
            <div class="col-sm-3">
                <div class="input-group input-group-sm">
                    <input type="text" id="tbContractor" class="form-control typeahead" value="@Model.ContractorName" required />
                    <span class="input-group-btn ">
                        <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.ContractorId, null, new
           {
               @class = "help-block"
           })
                @Html.TextBoxFor(m => m.ContractorId, new
               {
                   id = "hfContractor",
                   style = "height:0; width:0; border:none"
               })
            </div>
            <label for="amount" class="col-sm-1 control-label">Amount *</label>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.Amount, new
           {
               id = "amount",
               @class = "form-control",
               min = "0",
               type = "number",
               @required = "required",
               placeholder = "Amount(Nu)"

           })
                @Html.ValidationMessageFor(m => m.Amount, null, new
           {
               @class = "help-block"
           })

            </div>

            <label for="image" class="col-sm-1 control-label">Image</label>
            <div class="col-sm-2">
                @Html.TextBoxFor(m => m.BillImage, new
           {
               id = "image",
               @class = "form-control",
               type = "File"

           })

            </div>
        </div>

        <div class="form-group">
            <label for="remarks" class="col-sm-2 control-label">Remark</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(m => m.Remarks, new
           {
               id = "remarks",
               @class = "form-control",
               maxlength = "255"
           })
                @Html.ValidationMessageFor(m => m.Remarks, null, new
           {
               @class = "help-block"
           })

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Add Bill</button>
                <a href="@Url.Action(MVC.Bills.RecentBills())">Cancel</a>
            </div>
        </div>
    </div>
</form>





@section scripts {

    <link href="~Views/Shared/typeahed.css.bundle" type="text/css" rel="stylesheet" />

    <script type="text/javascript" src="@Links.Scripts.jqueryval_js"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            $('#tbDivision').typeahead(null, {
                name: 'Division',
                displayKey: 'label',
                source: function (query, cb) {
                    var url = '@Url.Action(MVC.Bills.GetDivision("~"))'.replace('~', query);
                    $.get(url).done(function (data, textStatus, jqXHR) {
                        this.cb(data);
                    }.bind({ cb: cb })).fail(function (jqXHR, textStatus, errorThrown) {
                        if (jqXHR.status == 500) {
                            this.cb([{ label: 'Error ' + (jqXHR.responseText || errorThrown), value: '' }]);
                        } else {
                            this.cb([{ label: 'Http Error ' + jqXHR.status + ': ' + errorThrown + ' ' + this.url, value: '' }]);
                        }
                    }.bind({ cb: cb, url: url }));
                },
                templates: {
                    empty: 'No matching division found'
                }
            }).on('typeahead:selected typeahead:autocompleted', function (e, sug, ds) {
                // Store the id of the selected division in the hdden field
                $('#hfDivisionId').val(sug.value);
            }).on('input', function (e) {
                // When user changes the divisionId, empty the hidden field
                $('#hfDivisionId').val('');
            });




            $('#tbContractor').typeahead(null, {
                name: 'Contractor',
                displayKey: 'label',
                source: function (query, cb) {
                    var url = '@Url.Action(MVC.Bills.GetContractor("~"))'.replace('~', query);
                    $.get(url).done(function (data, textStatus, jqXHR) {
                        this.cb(data);
                    }.bind({ cb: cb })).fail(function (jqXHR, textStatus, errorThrown) {
                        if (jqXHR.status == 500) {
                            this.cb([{ label: 'Error ' + (jqXHR.responseText || errorThrown), value: '' }]);
                        } else {
                            this.cb([{ label: 'Http Error ' + jqXHR.status + ': ' + errorThrown + ' ' + this.url, value: '' }]);
                        }
                    }.bind({ cb: cb, url: url }));
                },
                templates: {
                    empty: 'No matching contractor found'
                }
            }).on('typeahead:selected typeahead:autocompleted', function (e, sug, ds) {
                // Store the id of the selected division in the hdden field
                $('#hfContractorId').val(sug.value);
            }).on('input', function (e) {
                // When user changes the divisionId, empty the hidden field
                $('#hfContractorId').val('');
            });







        });
    </script>
}