@model PhpaAll.Bills.OutstandingBillsViewModel
@{
    ViewBag.Title = "Outstanding Bills";
}
<h2>
    @ViewBag.Title
</h2>
<form id="frmFilter" method="get" action="@Url.Action(MVC.Bills.OutstandingBills())">
    <input type="checkbox" id="chkOverDue"  name="@MVC.Bills.OutstandingBillsParams.overdueOnly" value="true" checked="@Model.OverDueOnly"/>Show only Overdue Bills
    <input type="hidden" value="@Model.OrderByField" name="@MVC.Bills.OutstandingBillsParams.field" />
    <button type="submit">Apply</button>
</form>
<ul class="nav nav-tabs">
    <li role="presentation" class="@(Model.OrderByField == PhpaAll.Bills.OrderByField.Division ? "active" : null)">
        <a href="@Url.Action(MVC.Bills.OutstandingBills(Model.OverDueOnly, PhpaAll.Bills.OrderByField.Division))">Division</a>
    </li>
    <li role="presentation" class="@(Model.OrderByField == PhpaAll.Bills.OrderByField.Station ? "active" : null)">
        <a href="@Url.Action(MVC.Bills.OutstandingBills(Model.OverDueOnly, PhpaAll.Bills.OrderByField.Station))">Station</a>
    </li>
    <li role="presentation" class="@(Model.OrderByField == PhpaAll.Bills.OrderByField.Contractor ? "active" : null)">
        <a href="@Url.Action(MVC.Bills.OutstandingBills(Model.OverDueOnly, PhpaAll.Bills.OrderByField.Contractor))">Contractor</a>
    </li>
</ul>

@*<table class="table table-striped">
    <thead>
        <tr class="bg-info">
            <th>#</th>
            <th>Bill No.</th>
            <th>Bill Date</th>
            <th>Due Date</th>
            @if (Model.OrderByField != PhpaAll.Bills.OrderByField.Division)
            {
                <th>Division</th>
            }
            @if (Model.OrderByField != PhpaAll.Bills.OrderByField.Station)
            {
                <th>Station</th>
            }
            @if (Model.OrderByField != PhpaAll.Bills.OrderByField.Contractor)
            {
                <th>Contractor</th>
            }

            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Bills.Count; ++i)
        {
            if (i == 0 || Model.Bills[i - 1].OrderByValue != Model.Bills[i].OrderByValue)
            {
                <tr class="warning">
                    <td colspan="6" class="text-center"><strong>@Html.DisplayFor(m => m.OrderByDisplayName) : @Html.DisplayFor(p => p.Bills[i].OrderByValue)</strong></td>
                    <td style="text-align:right"><strong>@Html.DisplayFor(m => m.Bills[i].GroupTotal)</strong></td>
                </tr>
            }

            <tr>
                <td>@(i + 1)</td>
                <td>@Html.DisplayFor(m => m.Bills[i].BillNumber)</td>
                <td>@Html.DisplayFor(m => m.Bills[i].BillDate)</td>
                <td>@Html.DisplayFor(m => m.Bills[i].DueDate)</td>
                @if (Model.OrderByField != PhpaAll.Bills.OrderByField.Division)
                {
                    <td>@Html.DisplayFor(m => m.Bills[i].SubmittedToDivisionName)</td>
                }
                @if (Model.OrderByField != PhpaAll.Bills.OrderByField.Station)
                {
                    <td>@Html.DisplayFor(m => m.Bills[i].StationName)</td>
                }
                @if (Model.OrderByField != PhpaAll.Bills.OrderByField.Contractor)
                {
                    <td>@Html.DisplayFor(m => m.Bills[i].ContractorName)</td>
                }

                <td style="text-align:right">@Html.DisplayFor(m => m.Bills[i].Amount)</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr class="bg-info">
            <th colspan="6">Total</th>
            <th style="text-align:right">@Html.DisplayFor(m => m.TotalAmount)</th>
        </tr>
    </tfoot>

</table>*@

<table class="table table-striped">
    <thead>
        <tr class="bg-info">
            <th>#</th>
            <th>Bill No.</th>
            <th>Bill Date</th>
            <th>Due Date</th>
            @if (Model.OrderByField != PhpaAll.Bills.OrderByField.Division)
            {
                <th>Division</th>
            }
            @if (Model.OrderByField != PhpaAll.Bills.OrderByField.Station)
            {
                <th>Station</th>
            }
            @if (Model.OrderByField != PhpaAll.Bills.OrderByField.Contractor)
            {
                <th>Contractor</th>
            }

            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.BillGroups.Count; ++i)
        {
            <tr class="warning">
                <td colspan="6" class="text-center"><strong>@Html.DisplayFor(m => m.BillGroups[i].GroupDisplayName) : @Html.DisplayFor(p => p.BillGroups[i].GroupValue)</strong></td>
                <td style="text-align:right"><strong>@Html.DisplayFor(m => m.BillGroups[i].GroupTotal)</strong></td>
            </tr>
            for (var j = 0; j < Model.BillGroups[i].Bills.Count; ++j)
            {
                <tr>
                    <td>@(j+1)</td>
                    <td>@Html.DisplayFor(m => m.BillGroups[i].Bills[j].BillNumber)</td>
                    <td>@Html.DisplayFor(m => m.BillGroups[i].Bills[j].BillDate)</td>
                    <td>@Html.DisplayFor(m => m.BillGroups[i].Bills[j].DueDate)</td>
                    @if (Model.OrderByField != PhpaAll.Bills.OrderByField.Division)
                    {
                        <td>@Html.DisplayFor(m => m.BillGroups[i].Bills[j].DivisionName)</td>
                    }
                    @if (Model.OrderByField != PhpaAll.Bills.OrderByField.Station)
                    {
                        <td>@Html.DisplayFor(m => m.BillGroups[i].Bills[j].StationName)</td>
                    }
                    @if (Model.OrderByField != PhpaAll.Bills.OrderByField.Contractor)
                    {
                        <td>@Html.DisplayFor(m => m.BillGroups[i].Bills[j].ContractorName)</td>
                    }

                    <td style="text-align:right">@Html.DisplayFor(m => m.BillGroups[i].Bills[j].Amount)</td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr class="bg-info">
            <th colspan="6">Total</th>
            <th style="text-align:right">@Html.DisplayFor(m => m.TotalAmount)</th>
        </tr>
    </tfoot>
</table>
