@model PhpaAll.Bills.RecentBillsViewModel
@{
    ViewBag.Title = "Recent Bills";
}
<h2>
    @ViewBag.Title
    <small>
        <a href="@Url.Action(MVC.ManageBills.Create())">Create new bill</a>
    </small>
</h2>
<p>
    <a href="@Model.UrlExcel">Export to Excel</a>
</p>
<pre>
TODO: Amounts of approved bills will display in green
</pre>
<div class="row">
    <div class="col-md-3">
        <form method="get" action="@Url.Action(MVC.Bills.RecentBills())">
            <button type="submit">Apply</button>
            @if (Model.IsFiltered)
            {
                <a href="@Url.Action(MVC.Bills.RecentBills())">Reset Filters</a>
            }
            @if (Model.Divisions.Count > 0)
            {
                <fieldset>
                    <legend>Submitted to Division</legend>
                    @for (var i = 0; i < Model.Divisions.Count; ++i)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="@MVC.Bills.RecentBillsParams.divisions" value="@Model.Divisions[i].Id" checked="@Model.Divisions[i].Selected">
                                @Html.DisplayFor(m => m.Divisions[i].Name) <small><em>@Html.DisplayFor(m => m.Divisions[i].Count)</em></small>
                                <small><a href="@Url.Action(MVC.Bills.RecentBills().AddRouteValue(MVC.Bills.RecentBillsParams.divisions, Model.Divisions[i].Id))">only</a></small>
                            </label>
                            
                        </div>
                    }
                </fieldset>
            }
            @if (Model.Contractors.Count > 1)
            {
                <fieldset>
                    <legend>Contractors</legend>
                    @for (var i = 0; i < Model.Contractors.Count; ++i)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="@MVC.Bills.RecentBillsParams.contractors" value="@Model.Contractors[i].Id" checked="@Model.Contractors[i].Selected" />
                                       @Html.DisplayFor(m => m.Contractors[i].Name)<small><em>@Html.DisplayFor(m => m.Contractors[i].Count)</em></small>
                                <small><a href="@Url.Action(MVC.Bills.RecentBills().AddRouteValue(MVC.Bills.RecentBillsParams.contractors, Model.Contractors[i].Id))">only</a></small>
                            </label>
                        </div>
                    }
                </fieldset>
            }
            @if (Model.Approvers.Count > 1)
            {
                <fieldset>
                    <legend>Approvers</legend>
                    @for (var i = 0; i < Model.Approvers.Count; ++i)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="@MVC.Bills.RecentBillsParams.approvers" value="@Model.Approvers[i].Id" checked="@Model.Approvers[i].Selected">
                                @Html.DisplayFor(m => m.Approvers[i].Name) <small><em>@Html.DisplayFor(m => m.Approvers[i].Count)</em></small>
                            </label>
                            <small><a href="@Url.Action(MVC.Bills.RecentBills().AddRouteValue(MVC.Bills.RecentBillsParams.approvers, Model.Approvers[i].Id))">only</a></small>
                        </div>
                    }
                </fieldset>
            }
            @if (Model.Stations.Count > 1)
            {
                <fieldset>
                    <legend>Stations</legend>
                    @for (var i = 0; i < Model.Stations.Count; ++i)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="@MVC.Bills.RecentBillsParams.stations" value="@Model.Stations[i].Id" checked="@Model.Stations[i].Selected" />
                                @Html.DisplayFor(m => m.Stations[i].Name)<small><em>@Html.DisplayFor(m => m.Stations[i].Count)</em></small>
                                <small><a href="@Url.Action(MVC.Bills.RecentBills().AddRouteValue(MVC.Bills.RecentBillsParams.stations, Model.Stations[i].Id))">only</a></small>
                            </label>
                        </div>
                    }
                </fieldset>
            }
        </form>
        <pre>
Approved By: Mgr 1 (22) Mgr2 (26)  Not Approved
Station: S1(23) S2(25) ....
Submitted to Division: ....
Currently in Division: ....
Contractor: ....
Paid / Unpaid
</pre>
    </div>
    <div class="col-md-9">
        <ul class="list-group">
            @for (var i = 0; i < Model.Bills.Count; ++i)
            {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-1">
                        @Html.DisplayFor(m => m.Bills[i].BillDate)
                    </div>
                    <div class="col-md-2">
                        <em>@Html.DisplayFor(m => m.Bills[i].SubmittedToDivisionName)</em>
                        @Html.DisplayFor(m => m.Bills[i].StationName)
                    </div>
                    <div class="col-md-5">
                        @Html.DisplayFor(m => m.Bills[i].ContractorName)
                    </div>
                    <div class="col-md-4">
                        <span class="label label-info">Due @Html.DisplayFor(m => m.Bills[i].DueDate)</span>
                        <div class="pull-right">
                            @Html.DisplayFor(m => m.Bills[i].Amount)
                        </div>
                    </div>
                </div>
                <small><em>@Html.DisplayFor(m => m.Bills[i].BillNumber)</em></small>
                @Html.DisplayFor(m => m.Bills[i].Particulars)
                <a href="@Url.Action(MVC.ManageBills.Edit(Model.Bills[i].Id))" class="btn btn-default">Edit</a>
                <a href="@Url.Action(MVC.ManageBills.ShowBill(Model.Bills[i].Id))" class="btn btn-default">View</a>
            </li>
            }
        </ul>

        <table class="table">
            <caption>Sample tabular layout</caption>
            @for (var i = 0; i < Model.Bills.Count; ++i)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => m.Bills[i].BillDate)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Bills[i].BillNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Bills[i].SubmittedToDivisionName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Bills[i].Particulars)
                    </td>
                    <td>
                        sdfsdf sdf sdf sdf sdf sdf sd f
                    </td>
                    <td>
                        sdfsdf sdf sdf sdf sdf sdf sd f
                    </td>
                    <td>
                        sdfsdf sdf sdf sdf sdf sdf sd f
                    </td>
                    <td>
                        sdfsdf sdf sdf sdf sdf sdf sd f
                    </td>
                    <td>
                        sdfsdf sdf sdf sdf sdf sdf sd f
                    </td>


                    <td>
                        @Html.DisplayFor(m => m.Bills[i].Amount)
                    </td>

                </tr>
            }
        </table>
    </div>
</div>
